<!-- <button class="btn btn-primary" data-toggle="collapse" data-target="#content1">Layers123</button>
<div class="collapse" id="content1">
     Content goes here.
</div> -->
    
    <div  class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <img src="assets/images/layers1.png" alt="Layers Icon" align="right" style="width:36px;height:36px;" (click)="layersFunc()">
            </div>
        </div>
    
        <div class="row">
            <div class="col-sm">
                <img src="assets/images/configuration.png" alt="HTML5 Icon" align="right" style="width:36px;height:36px;">
            </div>
        </div>
    </div>
