<nav class="navbar navbar-default">
<div class="container-fluid">
<a href="" class="navbar brand logo-float"><img src="assets/images/NalcoChampionEcolab_Grey.png"></a>
</div>
</nav>

<!-- <div>
  <app-icon-header></app-icon-header>
</div> -->
<div class="container-fluid">
  <app-map-view></app-map-view>
</div>
<!-- <div class="container">
  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>
<div class="container">
        <div class="row">
          <div class="col-sm">
            One of three columns
          </div>
          <div class="col-sm">
            One of three columns
          </div>
          <div class="col-sm">
            One of three columns
          </div>
        </div>
      </div> -->